body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
h1{
 
 font-size: 30px;
}

.blue-highlight{
    color: rgb(33, 90, 245);
}

.title-summary{

    color: rgb(2, 173, 252);

}

.half-width{
    width: 40%;
    float: left;
    margin-left: 6%;
    padding-left: 2%;
    margin-top: 5%;
}

.half-width img{
    width: 100%;
}

.top-banner{
    background-repeat: no-repeat;
    background-image: url(images/top-banner.png);
}
section{
    height: 500px;
    margin-bottom: 60px;
   
}

.profile-link-button{
    text-decoration: none;
    background-color: rgb(25, 137, 241);
    padding: 8px 20px;
    color: white;
    font-weight: 700;
    border-radius: 20px;
    box-shadow: 3px 3px 12px blue;


}

.dream-area{

    background-repeat: no-repeat;
    background-image: url(images/dream-bg.png);
    background-position: right;
}

.second-half-width{
    width: 40%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;
    margin-top: 5%;
   

}

.for-padding{
    padding-right: 50px;

}


.third-half-width{

    box-shadow: 5px 5px 40px gray;
    border-radius: 10px;

    width: 40%;
    float: left;
    margin-left: 6%;

    padding-left: 2%;
    margin-top: 1%;

    height: 70%;
    background-color: white;


}

.experience-area{
    background-image: url(images/exp-bg.png );
    background-position: left;
    background-repeat: no-repeat;
}

#full-stack{
    border-left: 7px solid tomato;
    border-image: linear-gradiant(lightsalmon  ) ;
}

#baby-web{
    border-left: 7px solid rgb(45, 131, 230);
    border-image: linear-gradiant(rgb(41, 3, 253) rgb(57, 178, 235) ) ;
}


#exp{
    color: rgb(34, 47, 53);
    margin-left: 1%;
}


footer{
    text-align: center;
    font-size: 12px;
}